
%h1 Accommodations


%div{class: 'col-xs-12 col-md-12'}
  %div{class: 'panel panel-default'}
    %div{class: 'panel-body'}
      %address
        %strong CORDIS, AUCKLAND
        %br
        %a{href: 'https://goo.gl/maps/B6ck5gMbKoHwC7Gh6', target: '_gmaps'}
          83 Symonds St, Auckland
          %span{class: 'glyphicon glyphicon-new-window'}
        %br
        Phone: +64 9 379 5132
        %br
        %a{href: 'http://www.cordishotels.com/en/auckland', target: '_blank'}
          Website : http://www.cordishotels.com/en/auckland
          %span{class: 'glyphicon glyphicon-new-window'}


      %img{width:"1000", src: "#{asset_path('hotels/accomo_1_cordis.png')}", class: 'oggb'}

      %ul
      Cordis, Auckland is for guests on the go, who appreciate heartfelt service and engaging experiences. Ideal for executives and conference delegates, we are devoted to making your stay just right with our plush dream beds, free WIFI and Smartphone providing free calls locally and to 6 international destinations. Located at 83 Symonds Street, Cordis, Auckland provides easy access to The University of Auckland, Queen Street and the lively uptown area of K Road. Our spacious contemporary restaurant Eight, opens up a world of international flavours for foodies with Eight interactive kitchens, each hosted by an expert chef. We are devoted to making your stay just right. Cordis Hotel is a 16-minute walk from the conference venue (OGGB).

      %h4 BOOKING DETAILS:
      %ul
        %li These rates are room only, per room per night and are subject to availability. Bookings may be cancelled up until the day of arrival without penalty.
        %li Breakfast is available for $35 per person per day. Valet parking is $45 per day.
        %p
        %img{width:"700", src: "#{asset_path('hotels/accomo_1_room.png')}", class: 'oggb'}
        %p

        %li Booking dates: Sunday 6 – Saturday 12 December 2020
        %li To book online, please use the weblink
        %a{href: 'https://be.synxis.com/?adult=1&arrive=2020-12-06&chain=10316&child=0&currency=NZD&depart=2020-12-12&dest=PACIFIC&hotel=27424&level=hotel&locale=en-US&promo=GACM&rooms=1', target: '_blank'}APSIPA 2020 Accommodation
        %li Bookings can also be made with Reservation team by quoting group code: GACM





%div{class: 'col-xs-12 col-md-12'}
  %div{class: 'panel panel-default'}
    %div{class: 'panel-body'}
      %address
        %strong THE QUADRANT HOTEL & SUITES, AUCKLAND
        %br
        %a{href: 'https://g.page/TheQuadrantHotel?share', target: '_gmaps'}
          10 Waterloo Quadrant, Auckland
          %span{class: 'glyphicon glyphicon-new-window'}
        %br
        Phone: (09) 984-6010 / 0800 6666 11
        %br
        %a{href: 'https://vrhotels.co.nz/quadrant-hotels-suites/', target: '_blank'}
          Website : https://vrhotels.co.nz/quadrant-hotels-suites/
          %span{class: 'glyphicon glyphicon-new-window'}


      %img{width:"1000", src: "#{asset_path('hotels/accomo_2_pullman.png')}", class: 'oggb'}

      %ul
      Located in downtown Auckland, just a well shod hop, skip and jump away from the city's fashion district, restaurants and bars - featuring 200 apartment style rooms (studios, 1 and 2 bedroom apartments) each with a fully equipped kitchen, balcony and FREE Wi-Fi with a generous daily limit of 1GB. It's easy to see why The Quadrant Hotel becomes the home away from home for many travellers throughout the year. The conference venue is just 5 minutes’ walk away.
      The Quadrant Hotel is a 9-minute walk from the conference venue (OGGB).

      %h4 BOOKING DETAILS:
      %ul
        %li These rates are room only, per room per night and are subject to availability. Continental breakfast is available at $20.00 per person per day. Free Wi-Fi included.
        %p
        %img{width:"700", src: "#{asset_path('hotels/accomo-2-pullroom.png')}", class: 'oggb'}
        %p
        %li Booking dates: Sunday 6 – Saturday 12 December 2020

        %li Email: quad.reservations@vrhotels.co.nz
        %li Phone: (09) 984-6010 / 0800 6666 11




%div{class: 'col-xs-12 col-md-12'}
  %div{class: 'panel panel-default'}
    %div{class: 'panel-body'}
      %address
        %strong UNIVERSITY HALL
        %br
        %a{href: '30 Whitaker Place, Grafton, Auckland 1010, New Zealand', target: '_gmaps'}
          30 Whitaker Place, Auckland 1010
          %span{class: 'glyphicon glyphicon-new-window'}
        %br
        Phone: +64 9 923 5678
        %br
        %a{href: ': https://summerstays.auckland.ac.nz', target: '_blank'}
          Website
          %span{class: 'glyphicon glyphicon-new-window'}


      %img{width:"1000", src: "#{asset_path('venue/accommodation-student.png')}", class: 'oggb'}
      %ul
      University Hall offers affordable accommodation for delegates attending conferences in Auckland, with stunning views in the heart of New Zealand’s largest city.
      Completed in 2011, University Hall is centrally located off Symonds Street, just 5 minutes’ walk from the conference venue.

      University Hall accommodation is modern and comfortable. Each single room contains a king sized single bed, desk/chair/internet access, wardrobe with shelving, opening window with
      blind. Four unisex bathrooms on each level offer lockable showers and toilets. Summer Stays is a public service provided by the University of Auckland offering large-scale
      cost effective accommodation in the heart of Auckland over the New Zealand summer.

      Vacated student king-single rooms are available to APSIPA attendees in large accommodation halls in central Auckland.

      %h4 BOOKING DETAILS:
      %ul
        %li Rates are per room per night and subject to availability.
        %li Full prepayment at time of booking.
        %li Refundable up to 1 week prior to arrival. Non-refundable within 1 week prior to arrival.
        %li Inclusive of Wifi Internet Access.
        %p
        %img{width:"700", src: "#{asset_path('hotels/accomo_3-room.png')}", class: 'oggb'}
        %p
        %li Booking dates: Sunday 6 – Friday 11 December 2020
        %li Please email summerstays@auckland.ac.nz or call +64 9 923 5678 to make a booking using group code APSIPA20
