%div{class: 'parallax'}
%div{class: 'col-xs-12'}
  %div{class: 'col-xs-12 col-sm-7 jumbotron-wrapper'}
    %div{id: 'jumbotron-title'}
      %div{class: 'h1'}
        Asia-Pacific Signal and Information Processing Association
        %p Annual Summit and Conference 2020
      %div{class: 'h3'}
        %div Dec 7-10, 2020
        %div Auckland, New Zealand
      %hr
      /apsipa asc 2020 logo
      %div{class: 'col-xs-12'}
        %img{width:"200", src: "#{asset_path('logo2010.bmp')}"}
        %br
        %br
        %br

        %div{class: 'h2'}
          %a{href: "COVID-19 Scenarios.pdf"} COVID-19 Scenarios Considerations


  %div{class: 'col-xs-12 col-sm-5'}
    %div{class: 'list-group hilinks'}
      %a{href: '#', class: 'list-group-item active hilinks title'} Highlights
      %a{href: '/important_dates', class: 'list-group-item list-group-item-warning'} 
        %span{class: 'glyphicon glyphicon-star'}
        Important Dates
      %a{href: '/paper', class: 'list-group-item list-group-item-warning'}
        %span{class: 'glyphicon glyphicon-star'}
        Call for Paper
      %a{href: '/special_session', class: 'list-group-item list-group-item-warning'}
        %span{class: 'glyphicon glyphicon-star'}
        Call for Special Session
      %a{href: 'COVID-19 Scenarios.pdf', class: 'list-group-item  list-group-item-warning'}
        %span{class: 'glyphicon glyphicon-info-sign'}
        COVID-19 Scenarios
      %a{href: '/tutorial', class: 'list-group-item list-group-item-warning'}
        %span{class: 'glyphicon glyphicon-star'}
        Call for Tutorial
      %a{href: '/registration', class: 'list-group-item list-group-item-warning'}
        %span{class: 'glyphicon glyphicon-new-window'}
        Registration
      %a{href: '/venue', class: 'list-group-item list-group-item-warning'}
        %span{class: 'glyphicon glyphicon-bed'}
        Conference Venue
      %a{href: '/travel', class: 'list-group-item list-group-item-warning'}
        %span{class: 'glyphicon glyphicon-info-sign'}
        Travel Information
      %a{href: '#', class: 'list-group-item list-group-item-warning', id: 'main-survey'}
        %span{class: 'glyphicon glyphicon-star'}
        Conference Survey

      -#%a{href: 'https://goo.gl/forms/RQZyaD3BBSBRI13K3', target: '_survey', class: 'list-group-item list-group-item-info subsurvey'}
      -#  %span{class: 'glyphicon glyphicon-tasks'}
      -#  Day 1
      -#%a{href: 'https://goo.gl/forms/FpggJVGIMzT8ZmEg2', target: '_survey', class: 'list-group-item list-group-item-info subsurvey'}
      -#  %span{class: 'glyphicon glyphicon-tasks'}
      -#  Day 2
      -#%a{href: 'https://goo.gl/forms/vTIhH4W8zgjBxGlv1', target: '_survey', class: 'list-group-item list-group-item-info subsurvey'}
      -#  %span{class: 'glyphicon glyphicon-tasks'}
      -#  Day 3
      -#%a{href: 'https://goo.gl/forms/cO3KaATB62uZYZDI3', target: '_survey', class: 'list-group-item list-group-item-info subsurvey'}
      -#  %span{class: 'glyphicon glyphicon-tasks'}
      -#  Day 4
      -#%a{href: 'https://goo.gl/forms/veg70tNEdBozSOWp2', target: '_survey', class: 'list-group-item list-group-item-info subsurvey'}
      -#  %span{class: 'glyphicon glyphicon-tasks'}
      -#  Day 5
-#%div{class: 'parallax'}
-#%div{class: 'col-xs-12'}
-#  %div{class: 'col-xs-12 col-sm-7 jumbotron-wrapper'}
-#    %div{class: 'h1'}
-#      %a{href: "COVID-19 Scenarios.pdf"} COVID-19 Scenarios Considerations
-#    %br

%div{class: 'col-xs-12 col-sm-12'}
  %p APSIPA ASC 2020 (www.apsipa2020.org) is the 12th annual conference organized by Asia-Pacific Signal and Information Processing Association (APSIPA), which will be held on December 7-10, 2020, in Auckland, New Zealand. Founded in 2009, APSIPA aims to promote research and education in signal processing, information technology, and communications. The annual conferences have been held previously in Sapporo, Japan (2009), Singapore (2010), Xi’an, China (2011), Los Angeles, USA (2012), Kaohsiung, Taiwan (2013), Siem Reap, Cambodia (2014), Hong Kong, China (2015), Jeju, Korea (2016), and Kuala Lumpur, Malaysia (2017) and Hawaii, USA (2018), and Lanzhou, China(2019).
  %p APSIPA is interested in all aspects of signal and information processing theories, algorithms, securities, implementations, and applications. All accepted papers will be indexed by EI compendex and archived by IEEE Xplore.
  %p The technical program includes, but not limited to, the following areas:
  %ul
    %li
      Signal Processing Systems: Design and Implementation
    %li
      Signal and Information Processing Theory and Methods
    %li
      Speech, Language, and Audio
    %li
      Biomedical Signal Processing and Systems
    %li
      Image, Video, and Multimedia
    %li
      Multimedia Security and Forensics
    %li
      Wireless Communications and Networking
    %li
      Signal and Information Processing in Education
    %li
      Medical Signal Acquisition, Analysis and Processing
    %li
      Internet of Things Technology
    %li
      Data Analytics and Machine Learning
    %li
      Deep Learning: Algorithms, Implementations, and applications
    %li
      Human Biometrics and Security Systems
    %li
      Renewable Energy, Sustainability and the Environment
    %li
      AI and Smart Grids
    %li
      AI and Power Systems
    %li
      Wireless Power Transfer
    %li
      Autonomous Intelligent Self‑Driving Cars
    %li
      Smart Materials and Sensors
    %li
      Signals and Control Systems
      %br
      %br
        %a{href: "APSIPA 2020 - Flyer- Final.pdf"} Download 2020 APSIPA Call for paper
      %br

      %div{class: 'col-sm-12'}
        %img{src: "#{asset_path('logo/logo-ieee.png')}"}
        %img{src: "#{asset_path('logo/logo-compendex.png')}"}
      %div{class: 'col-sm-12'}
        %img{width:"200",src: "#{asset_path('logo/logo-purenewzealand.jpg')}"}
        %img{width:"400",src: "#{asset_path('logo/logo-univauk.png')}"}
        %img{width:"150",src: "#{asset_path('logo/logo-unsw2.png')}"}

  -#%div{class: 'col-xs-12 col-sm-7'}
  -#  %hr
  -#  %div{class: 'splash-bright'}
  -#  %div{class: 'h3 text-center'}
  -#    Registration Time
  -#  %table{class: 'table', style:"text-align:center "}
  -#    %tr
  -#      %td Sunday
  -#      %td 12:00 PM - 5:00 PM
  -#    %tr
  -#      %td Monday
  -#      %td 7:30 AM - 5:00 PM
  -#    %tr
  -#      %td Tuesday
  -#      %td 7:30 AM - 6:00 PM
  -#    %tr
  -#      %td Wednesday
  -#      %td 7:30 AM - 6:00 PM
  -#    %tr
  -#      %td Thursday
  -#      %td 7:30 AM - 6:00 PM
  -#    %tr
  -#      %td Friday
  -#      %td 8:00 AM - 3:30 PM
  -#  /program_guide Download
  -#  %div{id: 'jumbotron-title'}
  -#    %div{class: 'col-xs-12 col-sm 6'}
  -#      /%a{href: '/icme2018_program_guide.pdf'}
  -#      %center
  -#        %div{class: 'alert alert-warning', style: 'width:300px'}
  -#          %div{class: 'glyphicon glyphicon-book', style: 'font-size: 64px'}
  -#          %div{style: 'font-size: 24px'} Program Guide
  -#%div{class: 'col-xs-12 col-sm-5'}
  -#  %div{id: 'landing-carousel', class: 'carousel slide', 'data-ride' => 'carousel'}
  -#    %ol{class: 'carousel-indicators carousel-landing'}
  -#      %li{'data-target' => '#landing-carousel', 'data-slide-to' => 0, class: 'active'}
  -#      - (@carousels.count - 1).times do |i|
  -#        %li{'data-target' => '#landing-carousel', 'data-slide-to' => i + 1}
  -#
  -#    %div{class: 'carousel-inner'}
  -#      %div{class: 'item active'}
  -#        - filepath = "photos/#{@carousels.keys[0]}.jpg"
  -#        - relpath = asset_path(filepath)
  -#        %img{src: "#{relpath}", alt: "#{@carousels.keys[0]}", class: 'carousel' }
  -#        %div{class: 'carousel-landing-caption'}
  -#          %h3{class: 'carousel-name'}= @carousels.keys[0]
  -#          %p{class: 'carousel-entry'}= raw @carousels[@carousels.keys[0]].join('<br />')
  -#      - @carousels.keys[1..-1].each do |key|
  -#        - item = @carousels[key]
  -#        - filepath = "photos/#{key}.jpg"
  -#        - relpath = asset_path(filepath)
  -#        %div{class: 'item'}
  -#          %img{src: "#{relpath}", alt: key, class: 'carousel'}
  -#          %div{class: 'carousel-landing-caption'}
  -#            %h3{class: 'carousel-name'}= key
  -#            %p{class: 'carousel-entry'}= raw item.join('<br />')
  -#
  -#    %a{class: 'left carousel-control carousel-landing', href: '#landing-carousel', 'data-slide' => 'prev'}
  -#      %span{class: 'glyphicon glyphicon-chevron-left'}
  -#    %a{class: 'right carousel-control carousel-landing', href: '#landing-carousel', 'data-slide' => 'next'}
  -#      %span{class: 'glyphicon glyphicon-chevron-right'}


= javascript_include_tag 'layout_helper'
:javascript
  var subsurvey_loaded = false

  $(document).on('turbolinks:load', function() {
    if (!subsurvey_loaded) {
      subsurvey_loaded = true
      layout_helper.activate_subsurveys()
    }
  })

:css
  .subsurvey {
    display: none;
    cursor: pointer;
  }

